# Import packages

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

# Read the dataset

In [2]:
df_train = pd.read_csv("./dataset/fraudTrain.csv")
df_train

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [3]:
df_test = pd.read_csv("./dataset/fraudTest.csv")
df_test

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [4]:
df = pd.concat([df_train, df_test])
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

# Cluster it and save the dataset

In [5]:
cluster_df = df[df['is_fraud'] == 1].copy()
cluster_df['trans_date_trans_time'] = pd.to_datetime(cluster_df['trans_date_trans_time']).apply(lambda x: int(x.timestamp()))
cluster_df['dob'] = pd.to_datetime(cluster_df['dob'])
cluster_df.drop(['cc_num', 'merchant', 'first', 'last', 'street', 'zip', 'trans_num', 'dob', 'unix_time', 'is_fraud', 'Unnamed: 0'], axis=1, inplace=True)
cluster_df

,trans_date_trans_time,category,amt,gender,city,state,lat,long,city_pop,job,merch_lat,merch_long
2449,1546391197,grocery_pos,281.06,M,Collettsville,NC,35.9946,-81.7266,885,Soil scientist,36.430124,-81.179483
2472,1546393649,gas_transport,11.52,F,San Antonio,TX,29.4400,-98.4590,1595797,Horticultural consultant,29.819364,-99.142791
2523,1546398323,grocery_pos,276.31,F,San Antonio,TX,29.4400,-98.4590,1595797,Horticultural consultant,29.273085,-98.836360
2546,1546400283,gas_transport,7.03,M,Collettsville,NC,35.9946,-81.7266,885,Soil scientist,35.909292,-82.091010
2553,1546401347,grocery_pos,275.73,F,San Antonio,TX,29.4400,-98.4590,1595797,Horticultural consultant,29.786426,-98.683410
...,...,...,...,...,...,...,...,...,...,...,...,...
517197,1608674748,shopping_pos,1041.51,M,Senatobia,MS,34.6323,-89.8855,14462,Database administrator,34.573471,-89.911011
517274,1608675487,shopping_pos,868.09,M,Senatobia,MS,34.6323,-89.8855,14462,Database administrator,34.091227,-90.390612
517341,1608676308,shopping_net,1039.42,M,Senatobia,MS,34.6323,-89.8855,14462,Database administrator,34.628434,-90.284780
517529,1608678363,grocery_pos,289.27,M,Senatobia,MS,34.6323,-89.8855,14462,Database administrator,34.746063,-90.401093
517571,1608678819,misc_net,766.38,M,Senatobia,MS,34.6323,-89.8855,14462,Database administrator,33.771462,-90.651342

In [6]:
category_le = LabelEncoder()
gender_le = LabelEncoder()
city_le = LabelEncoder()
state_le = LabelEncoder()
job_le = LabelEncoder()
cluster_df['category'] = category_le.fit_transform(cluster_df['category'])
cluster_df['gender'] = gender_le.fit_transform(cluster_df['gender'])
cluster_df['city'] = city_le.fit_transform(cluster_df['city'])
cluster_df['state'] = state_le.fit_transform(cluster_df['state'])
cluster_df['job'] = job_le.fit_transform(cluster_df['job'])

In [7]:
cluster_df

,trans_date_trans_time,category,amt,gender,city,state,lat,long,city_pop,job,merch_lat,merch_long
2449,1546391197,4,281.06,1,160,27,35.9946,-81.7266,885,426,36.430124,-81.179483
2472,1546393649,2,11.52,0,718,43,29.4400,-98.4590,1595797,227,29.819364,-99.142791
2523,1546398323,4,276.31,0,718,43,29.4400,-98.4590,1595797,227,29.273085,-98.836360
2546,1546400283,2,7.03,1,160,27,35.9946,-81.7266,885,426,35.909292,-82.091010
2553,1546401347,4,275.73,0,718,43,29.4400,-98.4590,1595797,227,29.786426,-98.683410
...,...,...,...,...,...,...,...,...,...,...,...,...
517197,1608674748,12,1041.51,1,735,25,34.6323,-89.8855,14462,119,34.573471,-89.911011
517274,1608675487,12,868.09,1,735,25,34.6323,-89.8855,14462,119,34.091227,-90.390612
517341,1608676308,11,1039.42,1,735,25,34.6323,-89.8855,14462,119,34.628434,-90.284780
517529,1608678363,4,289.27,1,735,25,34.6323,-89.8855,14462,119,34.746063,-90.401093
517571,1608678819,8,766.38,1,735,25,34.6323,-89.8855,14462,119,33.771462,-90.651342

In [8]:
cluster_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9651 entries, 2449 to 517571
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  9651 non-null   int64
 1   category               9651 non-null   int32
 2   amt                    9651 non-null   float64
 3   gender                 9651 non-null   int32
 4   city                   9651 non-null   int32
 5   state                  9651 non-null   int32
 6   lat                    9651 non-null   float64
 7   long                   9651 non-null   float64
 8   city_pop               9651 non-null   int64
 9   job                    9651 non-null   int32
 10  merch_lat              9651 non-null   float64
 11  merch_long             9651 non-null   float64
dtypes: float64(5), int32(5), int64(2)
memory usage: 791.7 KB

In [9]:
# 0 - Not fraud
# 1 - Phishing
# 2 - Skimming
# 3 - Snooping
kmeans = KMeans(n_clusters=4 - 1, random_state=42)
cluster_df['Cluster'] = kmeans.fit_predict(cluster_df)

c:\Users\subra\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [10]:
cluster_df

,trans_date_trans_time,category,amt,gender,city,state,lat,long,city_pop,job,merch_lat,merch_long,Cluster
2449,1546391197,4,281.06,1,160,27,35.9946,-81.7266,885,426,36.430124,-81.179483,2
2472,1546393649,2,11.52,0,718,43,29.4400,-98.4590,1595797,227,29.819364,-99.142791,2
2523,1546398323,4,276.31,0,718,43,29.4400,-98.4590,1595797,227,29.273085,-98.836360,2
2546,1546400283,2,7.03,1,160,27,35.9946,-81.7266,885,426,35.909292,-82.091010,2
2553,1546401347,4,275.73,0,718,43,29.4400,-98.4590,1595797,227,29.786426,-98.683410,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
517197,1608674748,12,1041.51,1,735,25,34.6323,-89.8855,14462,119,34.573471,-89.911011,0
517274,1608675487,12,868.09,1,735,25,34.6323,-89.8855,14462,119,34.091227,-90.390612,0
517341,1608676308,11,1039.42,1,735,25,34.6323,-89.8855,14462,119,34.628434,-90.284780,0
517529,1608678363,4,289.27,1,735,25,34.6323,-89.8855,14462,119,34.746063,-90.401093,0
517571,1608678819,8,766.38,1,735,25,34.6323,-89.8855,14462,119,33.771462,-90.651342,0

In [11]:
def apply_cluster(x):
    if x['is_fraud'] == 0:
        return "Not fraud"
    
    x['trans_date_trans_time'] = int(datetime.strptime(x['trans_date_trans_time'], '%Y-%m-%d %H:%M:%S').timestamp())
    x = x.drop(['cc_num', 'merchant', 'first', 'last', 'street', 'zip', 'trans_num', 'dob', 'unix_time', 'is_fraud', 'Unnamed: 0'])

    # Apply the transformations for categorical features
    x['category'] = category_le.transform([x['category']])[0]
    x['gender'] = gender_le.transform([x['gender']])[0]
    x['city'] = city_le.transform([x['city']])[0]
    x['state'] = state_le.transform([x['state']])[0]
    x['job'] = job_le.transform([x['job']])[0]

    x = pd.DataFrame([x])
    cluster = kmeans.predict(x)
    if cluster == 0:
        return "Phishing"
    elif cluster == 1:
        return "Skimming"
    else:
        return "Snooping"

df['fraud'] = df.apply(apply_cluster, axis=1)
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,Not fraud
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,Not fraud
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,Not fraud
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,Not fraud
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,Not fraud
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0,Not fraud
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0,Not fraud
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0,Not fraud
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0,Not fraud
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0,Not fraud

In [12]:
df.to_csv('dataset/final.csv', index=False)